header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.left {
  background: #cc0000;
  
}

.right {
  background: #3b4cca;
  
}

.title {
  font-family: 'Pokemon';
  color: #ffde00;
}

body {
  background-color: #ffde00;
}
.global-footer {
 
  clear: both;
  display: block;
  padding: 0 0 1em;
  width: 100%;
}
.content-wrapper {

  
  display: block;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1024px;
  width: 100%;}

.links, .social, .more-info {
  float: left;
  background: #1f1f1f;
  margin-right: 0;
  width: 27.46%;
  border-right: 2px solid #000;
  margin-top: 1.75em;
  color: #ff0000;
  width: 33%;
}